.vscode
node_modules
.cache
dist
.DS_Store
Thumbs.db
.vscode
config.toml
docker-build/app.js
docker-build/docker-healthcheck.js
docker-build/package.json
docker-build/package-lock.json
!docker-build/config.toml