.vscode
node_modules
.cache
dist
.DS_Store
Thumbs.db
.vscode
bundle
ob
run_for_test.txt
docker-build/app
docker-build/package.json
!docker-build/config.toml
tests/config.toml
tests/config2.toml
tests/config3.toml